<div class="simon">

  <div class="quote">
    <h1>David Galindo</h1>
    <span>{{quote}}</span>
  </div>

  <div class="container">
    <div class="game">

      <ng-container *ngFor="let color of colors">
        <div class="button" id="{{color.id}}" [ngClass]="{'active':color.show}" (click)="addToSecuence(color)"></div>
      </ng-container>

      <div class="center">
        <div class="brand">
          <span class="title">Simon</span>
          <span class="play" (click)="startGame()"></span>
        </div>
      </div>

    </div>
  </div>

</div>